#corpo {display: block;position: relative;margin: 0 auto; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #000000;overflow: hidden; background:#FFFFFF; text-align: center;}
/* TEXTO TOPO */
#corpo .texto-topo{ text-align: center;}
#corpo .texto-topo img{ width:36%; margin-top:5%;}
#corpo .texto-topo P { font-size:2.1vw; width:38%; margin:2% auto 4%;}
#corpo .texto-topo h2.sub-titulo{ font-size:3.6vw; font-weight:700; margin-bottom:5%;}
#corpo .texto-topo P.bold { font-size:2.3vw; font-weight:700; margin-top:-2vw} 
/* BANNER */
#corpo .banner_artista::before{ padding: 0; padding-top: 50.0625%;}
#corpo .banner_artista{position: relative;display: block;width: 100%; margin: 0 auto;}
#corpo .banner_artista picture{display: block;width: 100%;}
#corpo .banner_artista picture img{position: relative;display: block;width: 97%; margin: 0 auto}
#corpo .banner_artista .texto-artista p{ font-size:1.2vw; margin: 4% 0 -1%;}
#corpo .banner_artista .texto-artista h2{ font-size:1.6vw; margin-bottom: 3%;}
#corpo .banner_artista .texto-artista hr{ width:66%; margin: 3% auto;}
/* SEÇÃO BENEFICOS */
#corpo .beneficios p{ font-size:2.2vw; width:87%; margin:2% auto;}
#corpo .beneficios h2{ font-size:3vw; margin:11% 0 6%; font-weight:400;}
#corpo .beneficios-card::before{ padding: 0; padding-top: 95.0625%;}
#corpo .beneficios-card picture{ width: 80%; margin: 0 auto;}
#corpo .beneficios .orientacao{ font-size:1.2vw; width:59%; margin: 8% auto 10%;}
/* FAQ */
#corpo .faq h2{ font-size:3vw; font-weight:400;}
#corpo .faq h3{ font-size:2.2vw;}
#corpo .faq .texto-servico{ font-size: 2.2vw; width:64%; margin: 0 auto 4%;}
#corpo .faq .texto-cobertura{ font-size: 2.2vw; width:79%; margin: 0 auto;}
#corpo .faq img{ width:22vw; margin-top:10%;}
#corpo .faq .texto-zurich{ font-size:1.8vw; width:88%; margin:4% auto;}
#corpo .faq .condicoes{ font-size:1.8vw; font-weight:400; margin-bottom:11%;}
/* VIDEO */
#corpo .video::before{ padding: 0; padding-top: 76%; margin-bottom:10%;}
#corpo .video .video-box{ z-index:10;}
/* SEÇÃO INVESTIMENTO */
#corpo .investimento-tabela::before { padding-top: 215.0625%; }#corpo .investimento-tabela img{ width:75%;}
#corpo .investimento-link::before { padding-top: 63.0625%; }
#corpo .investimento picture{ position: absolute;}
#corpo .investimento-link a{ position: absolute; width: 20%; height:5%; background-color: transparent; bottom: 11%; left: 38%;}
/* SOBRE A ARTISTA */
#corpo .sobre-artista::before{ padding: 0; padding-top: 63.0625%;}

#corpo .sobre-artista picture{ width:94%; margin:0 auto; }
#corpo .sobre-artista h2{ font-size: 2.3vw; margin: 10% auto 6%; font-weight:400;}
#corpo .sobre-artista a{ position: absolute; width: 17%; height:7%; background-color: transparent; bottom: 25%; left: 50%;}
/* CARROUSSEL SEVIÇOS */
#corpo .carroussel-servicos::before{ padding: 0; padding-top: 64.0625%;}#corpo .carroussel-servicos{ margin-bottom:10%; position:relative;}
#corpo .carroussel-servicos .texto-carrossel{ margin-top:6%;}#corpo .carroussel-servicos .texto-carrossel img{ width:26vw; margin:3.5%}
#corpo .carroussel-servicos .texto-carrossel p{ font-size: 1.6vw; margin: -2.5vw 0 8%; padding:0;}
#corpo .carroussel-servicos picture{
 display: inline-block;
 width:90%;
 margin:0 auto;
}
#corpo .carroussel-servicos picture a{ position: absolute; width: 36%; height: 7%; background-color: transparent; bottom: 0%; left: 3%;}
/* NAVEGAÇÃO DO CARROUSSEL */
 #corpo .carroussel-servicos .owl-carousel.owl-drag .owl-item { width:300px; }
#corpo .carroussel-servicos .owl-nav{ width:100%; position: absolute; top:43%; display:flex; align-items:center; justify-content:center;}
#corpo .carroussel-servicos .owl-nav .owl-next, #corpo .carroussel-servicos .owl-nav .owl-prev{ width:50px; height:50px; border-radius:50%; background:#Fff;}
#corpo .carroussel-servicos .owl-nav .owl-prev{ position:absolute; left:0.5vw;}
#corpo .carroussel-servicos .owl-nav .owl-next{ position:absolute; right:0.2vw;}

/* ----Responsividade media query---- */


@media screen and (max-width: 1100px) {
/* LOGO FASTSHOP TOPO */
#corpo .texto-topo img{ width:34%;}
/* TEXTO TOPO */
#corpo .texto-topo P{ font-size:2vw; }
#corpo .texto-topo h2.sub-titulo{ font-size:4.2vw; width: 60%; margin: 1% auto 6%; }
#corpo .texto-topo P.bold{ font-size:2.3vw; width:80%; margin-top:-4vw }
/* BANNER TOPO */
#corpo .banner_artista::before { padding-top: 82.0625%;}
#corpo .banner_artista .texto-artista p,
#corpo .banner_artista .texto-artista h2{ font-size:3vw;}
#corpo .banner_artista .texto-artista hr { width: 84%;}
/* SEÇAO BENEFICIOS */
#corpo .beneficios p { font-size: 3.2vw; width: 85%; margin: 2% auto; line-height: 5.5vw;}
#corpo .beneficios h2 { margin: 6%;}
#corpo .beneficios-card::before { padding-top: 137%;} 
#corpo .beneficios .orientacao{ font-size:2vw; width: 52%; margin: 5% auto 10%; line-height:3vw; }
/* FAQ */
#corpo .faq h2 { font-size:3.3vw;}
#corpo .faq h3 { font-size: 3.3vw;}
#corpo .faq .texto-servico,
#corpo .faq .texto-cobertura{ font-size:3.2vw; line-height: 4.9vw}
#corpo .faq .texto-servico{ width:77%;}
#corpo .faq .texto-cobertura{ width:89%;}
#corpo .faq img{ width: 17vw;}
#corpo .faq .texto-zurich{ width:82%; font-size:3.2vw; line-height: 4.9vw}
#corpo .faq .condicoes{ font-size:3.2vw;}
/* SEÇÃO VIDEO */
#corpo .video:before { padding-top: 88.0625%;}
#corpo .video{ margin-bottom: -6%;}
/* SOBRE A ARTISTA */
#corpo .sobre-artista::before { padding-top: 113.0625%;}
#corpo .sobre-artista picture { width: 100%;}
#corpo .sobre-artista h2 { font-size: 2.7vw;}
/* seçao carrossel */
#corpo .carroussel-servicos::before { padding-top: 88.0625%;}
#corpo .carroussel-servicos .texto-carrossel img { width: 46vw; margin-bottom: 5%;}
#corpo .carroussel-servicos .texto-carrossel h2 { font-size: 6vw;}
#corpo .carroussel-servicos .texto-carrossel p { font-size: 2.9vw;}
#corpo .carroussel-servicos .owl-nav .owl-next, #corpo .carroussel-servicos .owl-nav .owl-prev { width: 22px; height: 22px; border-radius: 50%;}

}




